# Ignore Files Created By Autotools
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
build/.deps/CrossCount.Plo
build/.deps/DictOutput.Plo
build/.deps/SimpleFunction.Plo
build/.deps/testexternals.Po
build/.libs/CrossCount.o
build/.libs/DictOutput.o
build/.libs/SimpleFunction.o
build/.libs/libCrossCount.la
build/.libs/libCrossCount.lai
build/.libs/libCrossCount.so
build/.libs/libCrossCount.so.0
build/.libs/libCrossCount.so.0.0.0
build/.libs/testexternals
build/CrossCount.lo
build/DictOutput.cxx
build/DictOutput.h
build/DictOutput.lo
build/Makefile
build/SimpleFunction.lo
build/config.log
build/config.status
build/libCrossCount.la
build/libtool
build/testexternals
build/testexternals.C
build/testexternals.o
